@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap");

body {
  background-color: #10889e;
  font-family: "Sofia Sans", sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 50%;
}

#container {
  width: 960px;
  margin: auto;
  background-color: #e1f1f2;
}

h1 {
  text-align: center;
  font-size: 3em;
  color: #445566;
  font-weight: normal;
  margin: 0;
  padding: 20px;
}

h2 {
  color: #445566;
  padding: 0px;
}

h3 {
  color: #445566;
  margin: 0px;
  text-align: center;
}

nav {
  background-color: #45bcd2;
  height: 30px;
  margin-bottom: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-top: 5px;
}

nav li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

nav li a {
  color: white;
}

aside {
  width: 200px;
  height: 350px;
  border: 1px solid #10889e;
  float: left;
  margin-left: 30px;
  padding: 5px;
}

#main {
  width: 650px;
  float: right;
  margin-right: 30px;
  line-height: 20px;
}

footer {
  clear: both;
}

footer ul {
  list-style: none;
  text-align: center;
  padding-top: 15px;
}

footer li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

footer li a {
  color: black;
}

p a {
  font-size: 2em;
}

.thumbnail {
  height: 10rem;
  width: 20rem;
}
