* {
  margin: auto;
  max-width: 42em;
  background-color: rgb(54, 54, 0);
  font-family: "Baloo Bhaijaan 2", cursive;
  color: white;
}

h1 {
  background-color: rgb(77, 77, 0);
  color: rgb(198, 198, 117);
  padding: 0.3em;
  font-size: 3em;
  line-height: 2em;
  text-align: center;
}

p {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
}

nav {
  background-color: #45bcd2;
  height: 30px;
  margin-bottom: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-top: 5px;
}

nav li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}