/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Baloo Bhaijaan 2", cursive;
  background-color: black;
  color: white;
}

html {
  scroll-behavior: smooth;
}

/* To avoid repetition */
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.useless {
  width: 60%;
  margin: auto;
  margin-bottom: 3rem;
}

/* Navigation Bar */
/* Navigation Bar - Logo */
.logo img {
  display: inline-block;
  height: 10vh;
  margin: 2vh 7vh;
}

/* Navigation Bar - List Styling */
.center {
  margin-left: 10vw;
  margin-right: 10vw;
}

.center ul {
  display: flex;
}

.center ul li {
  list-style: none;
  font-size: 1.3rem;
}

.center ul li a {
  display: block;
  text-decoration: none;
  padding: 1.5rem;
}

.center ul li a:hover {
  color: rgb(109, 104, 104);
}

/* Utility Classes */
/* Utility Classes - h1 */
.h-primary {
  font-size: 2.5rem;
  padding-top: 2.5rem;
}

/* Utility Classes - h2 */
.h-secondary {
  font-size: 1.5rem;
  margin-top: 10px;
}

/* Utility Classes - Text-Center */
.text-center {
  text-align: center;
}

#services-container {
  padding: 5vh;
}

.services .box {
  border-radius: 10px;
  padding: 5vh;
  margin-left: 2vh;
  margin-bottom: 5vh;
}

.services .box img {
  height: 25vh;
  display: block;
  margin: auto;
}

.glow-on-hover {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  border: 3px solid blue;
  padding: 1rem;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1.7em;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.story p {
  font-size: 1.1rem;
}

.content {
  margin-bottom: 1em;
}

.links a {
  margin: -1rem  2rem 2rem;
  padding: 0 1rem;
}

iframe {
  display: block;
  margin: auto;
  /* padding: 1px; */
  border: 3px solid blue;
  border-radius: 1em;
}